<div class="col-md-offset-3 col-md-6">
    <div ng-controller="PeopleController as controller">
      <h2>Who will make coffee this week:  <button class="btn btn-info" ng-click="controller.sortWeek()">Generate</button></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Weekday</th>
            <th>Person</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Monday morning</th>
            <td>{{weekday[0].name}}</td>
          </tr>
          <tr>
            <th scope="row">Monday afternoon</th>
            <td>{{weekday[1].name}}</td>
          </tr>
          <tr>
            <th scope="row">Tuesday morning</th>
            <td>{{weekday[2].name}}</td>
          </tr>
          <tr>
            <th scope="row">Tuesday afternoon</th>
            <td>{{weekday[3].name}}</td>
          </tr>
          <tr>
            <th scope="row">Wednesday morning</th>
            <td>{{weekday[4].name}}</td>
          </tr>
          <tr>
            <th scope="row">Wednesday afternoon</th>
            <td>{{weekday[5].name}}</td>
          </tr>
          <tr>
            <th scope="row">Thursday morning</th>
            <td>{{weekday[6].name}}</td>
          </tr>
          <tr>
            <th scope="row">Thursday afternoon</th>
            <td>{{weekday[7].name}}</td>
          </tr>
          <tr>
            <th scope="row">Friday morning</th>
            <td>{{weekday[8].name}}</td>
          </tr>
          <tr>
            <th scope="row">Friday afternoon</th>
            <td>{{weekday[9].name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>