<div class="col-md-offset-4 col-md-5">
  <h2>People List</h2>
  <div ng-controller="PeopleController as peopleList">
      <ul ng-repeat="person in peopleList.people track by $index">
        <h3><span class="">{{person.name}}</span>
        <button class="btn btn-danger btn-xs" ng-click="peopleList.deletePerson()">Delete</button></h3>
      </ul>
    <form ng-submit="peopleList.addPerson()">
      <input type="text" ng-model="peopleList.personName"  size="30"
              placeholder="add new person here">
      <input class="btn btn-primary btn-sm" type="submit" value="Add">
    </form>
  </div>
</div>

